#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(187, 187, 187, 0.7);
}

.contact_button, .submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
}

.contact_button:hover, .submit_button:hover, .contact_button:focus , .submit_button:focus {
    background-color: #DB8876;
    cursor: pointer;
}

.modal {
    justify-content: space-between;
    z-index : 10;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    position: relative;
    margin : 25px auto;
}

.modal header {
    height: 100%;
    width: 100%;
    margin-bottom : 20px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    font-size: 50px;
}

.modal-title, .contactName{
    margin : 0 0 10px 0;
}

.formContactInfos{
    display : flex;
    flex-direction: column;
    margin : 0;
    padding : 0;
}

.closeBtn{
    background:none;
    border: none;
    cursor: pointer;
}

.no-scroll{
    overflow: hidden;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}

form input {
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding : 10px;
    align-items: center;
}

#message{
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    height : 200px;
    padding : 10px;
}

@media screen and (max-width: 920px) {
    .modal header h2 {
        font-size: 64px;
        font-weight: normal;
        text-align: left;
        font-size: 40px;
    }
    
    .modal{
        display: flex;
        justify-content: center;
        width : 80%;
        margin: auto;
        padding : 10px;
    }
}