@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main{
    max-width : 1500px;
    margin : auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width : 1500px;
    margin : auto;
}

header h1 {
    color: #901C1C;
    margin-right: 10px;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

article a img{
    margin : auto;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2{
    color: #D3573C;
    font-size: 36px;
    margin : 5px;
}

/* Ajout .h4tag .h4price .img article:hover */
.photographer_section article h4 {
    color: #901C1C;
    font-size: 15px;
    margin : 0;
}

.photographer_section article .h4tag {
    color: black;
    font-size: 15px;
    margin : 0;
}

.photographer_section article .h4price {
    color: black;
    font-size: 15px;
    margin : 0;
    opacity : 70%;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

/* link to photographer page */
a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/* CSS page photographe */
.photograph-header {
    display : flex;
    align-items: center;
    justify-content: space-around;
    margin : 20px;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 36px;
    margin : 5px;
}

.photograph-header h4 {
    color: #901C1C;
    font-size: 15px;
    margin : 5px;
}

.photograph-header .h4tag {
    color: black;
    font-size: 15px;
    margin : 12px 5px 5px 5px;
}


.photograph-header img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    order: 3;
}

.description{
    display: flex;
    flex-direction: column;
    margin : 0;
    justify-content: space-between;
}

.contact_button{
    order: 2;
}
/* Gallery */
.photograph-galery{
    background-color: #FAFAFA;
    margin: 20px 20px;
    padding : 50px;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageCard{
    display : flex;
    flex-direction: column;
    margin : 0 30px 20px 30px;
    align-items: center;;
}

.imageCardButton img, .imageCardButton video {
    width : 300px;
    height : 300px;
    object-fit:cover;
    border-radius: 10px;
}

.imageCardButton{
    border: none;
    background: none;
}

.imageThumb{
    cursor: pointer;
}

.imageInfos {
    display : flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 15px;
    height : 35px;
    width : 95%;
}

.imageLikes{
    width : 60px;
    display: flex;
    align-content:center;
    justify-content: space-around;
    border: none;
    background: none;
    cursor : pointer;
}

.heart{
    color : #901C1C;
}

.price{
    background-color:#D3573C;
    margin-right: 20px;
    padding : 10px;
    position : fixed;
    bottom: -23px;
    right : 0;
    border-radius: 3px;
}

@media screen and (max-width: 920px) {
    .description{
        align-items: center;
    }
    .photograph-header {
        flex-direction: column;
        height : 100%;
        padding-bottom: 30px;
    }
    .contact_button{
        margin : 20px;
    }
    .photograph-galery{
        margin : 0px;
    }
    .imageCard img, .imageCard video {
        width : 100%;
        height : 100%;
        object-fit:cover;
        border-radius: 10px;
    }
    .photograph-galery{
        display : flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding : 0;
    }
    .photographer_section {
        display: flex;
        flex-direction : column;
        margin-top: 100px;
        margin-left : 15px;
        margin-right : 15px;
        margin-bottom : 15px;
    }
    header h1{
        text-align: right;
        margin-right: 10px;
        font-size : 20px;
    }
    .logo{
        width: 50%;
        height: auto;
    }
}

